<section class="hero has-text-centered" id="about">
    <div class="hero-body" style="padding-top: 4rem; padding-bottom: 4rem;">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <p class="has-text-white is-centered" style="font-size: 40px;">About</p>
                    <br>

                    <p class="has-text-white has-text-center-desktop has-text-center-tablet has-text-center-fullhd has-text-center-widescreen">
                        My name is Szymon Kreiner.<br>
                        I'm a programmer and game developer from Poland.<br>
                        Co-founder of <i>not so official</i> Furrfield Studio.
                    </p>

                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="https://www.linkedin.com/in/szymon-kreiner-b96833313/"
                                class="button about-button is-rounded is-uppercase has-text-weight-normal" target="_blank">
                                <img src="{{'/assets/images/icons/linkedin.png' | absolute_url }}" width="32" height="32">
                            </a>
                        </div>

                        <div>
                            <a href="https://github.com/RedTheKitsune"
                                class="button about-button is-rounded is-uppercase has-text-weight-normal" target="_blank">
                                <img src="{{'/assets/images/icons/GitHub-Mark-Light-32px.png' | absolute_url }}" width="32" height="32">
                            </a>
                        </div>

                        <div>
                            <a href="https://github.com/FurrField-Studio"
                                class="button about-button is-rounded is-uppercase has-text-weight-normal" target="_blank">
                                <img src="{{'/assets/images/icons/furrfield-icon.png' | absolute_url }}" width="32" height="32">
                            </a>
                        </div>
                        <!--<div>
                            <a href="{{site.url}}{{site.baseurl}}/blog"
                                class="button is-rounded is-uppercase has-text-weight-normal is-white is-outlined" style="width: fit-content; min-width: fit-content;">Blog</a>
                            </a>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
</section>