<!-- Main container -->
<nav class="level has-text-centered">
    <!-- Left side -->
    <div class="level-left">
        <p class="subtitle is-uppercase has-text-weight-medium has-text-white">Have a Good Read</p>
    </div>
    <!-- Right side -->
    <div class="level-right">
        <div class="level-item">
            {% include search.html %}
        </div>
    </div>
</nav>