<footer id="footer">
    <!--Footer Button-->
    <div class="container has-text-centered has-background-grey-darker" id="backtotop">
        <a class="has-text-white" onclick="window.scroll(0,0)">BACK TO TOP</a>
    </div>
    <!--Footer Main Section-->
    <div class="has-background-grey-darker">
        <div class="container columns">
            <!--Name Section-->
            <div class="column has-text-left-desktop has-text-centered-mobile">
                <a href="{{site.url}}{{site.baseurl}}/#about">
                    <div class="columns">
                        <div class="column is-one-fifth-desktop is-one-fifth-fullhd is-one-quarter-tablet">
                            <figure class="image is-64x64">
                                <img class="is-rounded" src="{{site.author-image}}">
                            </figure>
                        </div>
                        <div class="column is-marginless">
                            <h5 class="has-text-grey-lighter">{{site.author-name}}</h5>
                            <div class="content has-text-grey">
                                <p>{{site.author-about | truncate: 75 }}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <!--Link Section-->
            <div class="column has-text-white">
                <h3>More Links</h3>
                {% for sitepage in site.html_pages offset: 4 %}
                {% unless sitepage.url == '/'  limit: 2 %}
                <li>
                    <a href="{{sitepage.url | absolute_url}}">{{sitepage.title}}</a>
                </li>
                {% endunless %}
                {% endfor %}
                <li>
                    <a target="_blank" href="{{site.url}}{{site.baseurl}}/feed.xml">Subscribe via RSS</a>
                </li>
            </div>

            <!--Blog-post Section-->
            <div class="column has-text-white">
                <h3>Recent Posts</h3>
                {% for post in site.posts offset: 0 limit:3 %}
                <li>
                    <a href="{{post.url | absolute_url}}">{{post.title}}</a>
                </li>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="has-background-black has-text-centered has-text-white" id="credits">
        <i class="far fa-copyright"></i> {{ "now" | date: "%Y" }} | Copyright Szymon Kreiner. All Rights Reserved</a>
    </div>
</footer>