<div class="columns is-centered is-multiline is-mobile">
  {%- for project in site.data.projects -%}
    <div class="column has-text-centered is-paddingless is-marginless is-one-third-widescreen is-one-third-desktop is-one-fifth-fullhd is-one-third-tablet is-two-fifths-mobile is-three-quarters-touch"
      id="project-card"  style="width: 500px; color: #363636 !important;">
      <a href="{{project.link | absolute_url}}" target="_blank">
      <div class="has-background-black card">
        <figure class="image is-2by1" style="background-image: url({{project.image | absolute_url }});">
        </figure>
        <div class="card-content">
          <h1 class="title has-text-white is-size-4">{{ project.name }}</h1>
          <p class="content has-text-white is-size-5">{{ project.studio }}</p>
          <p class="has-text-white has-text-weight-light">{{ project.description }} <p class="has-text-weight-light mc-font">{{ project.meme-desc }}</p> </p>
          <br>
          {% if project.status == "wip" %}
          <p class="has-text-weight-medium content" style="color: yellow">Work in progress... / {{project.category}}</p>
          {% elsif project.status == "suspended" %}
          <p class="has-text-weight-medium content" style="color: goldenrod">Suspended / {{project.category}}</p>
          {% elsif project.status == "finished" %}
          <p class="has-text-weight-medium content" style="color: lawngreen">Finished / {{project.category}}</p>
          {% elsif project.status == "custom" %}
          <p class="has-text-white has-text-weight-medium content">{{ project.status-custom }} / {{project.category}}</p>
          {% endif %}
        </div>
      </div>
      </a>
    </div>
  {%- endfor -%}
</div>