  <section class="hero is-fullheight" id="project">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="section">
                    <p class="subtitle is-uppercase has-text-weight-medium has-text-white" style="font-size: 40px;">Projects</p>
                    <p class="has-text-weight-medium has-text-white">Those are not all project I made, I only chosen the ones I worked commercially or are good/interesting enough to show them.</p>
                </div>
                {% include project-card.html %}
            </div>
        </div>
    </section>
    </div>