<section class="hero has-text-centered" id="about">
    <div class="hero-body" style="padding-top: 4rem; padding-bottom: 4rem;">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <p class="has-text-white is-centered" style="font-size: 40px;">Skills</p>
                    <br>
                    <div class="container columns is-centered">

                        <div style="margin: 1rem;">
                            <p class="has-text-white is-centered" style="font-size: 24px;">Languages</p>
                            <br>
                            <p>
                                <ul class="has-text-white has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                                <li>- C#</li>
                                <li>- Unreal C++</li>
                                <li>- Unreal Angelscript</li>
                                <li>- HTML, CSS3/Sass, JS</li>
                                </ul>
                            </p>
                        </div>

                        <div style="margin: 1rem;">
                            <p class="has-text-white is-centered" style="font-size: 24px;">Engines / Frameworks</p>
                            <br>
                            <p>
                                <ul class="has-text-white has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                                <li>- Unity</li>
                                <li>- Unreal</li>
                                <li>- ASP.Net Core</li>
                                </ul>
                            </p>
                        </div>

                        <div style="margin: 1rem;">
                            <p class="has-text-white is-centered" style="font-size: 24px;">Tools</p>
                            <br>
                            <p>
                                <ul class="has-text-white has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                                <li>- UniTask, UniRX</li>
                                <li>- Entity Framework Core</li>
                                <li>- Git / Github / GitLab (including CI/CD)</li>
                                <li>- Docker</li>
                                </ul>
                            </p>
                        </div>

                        <div style="margin: 1rem;">
                            <p class="has-text-white is-centered" style="font-size: 24px;">Fields</p>
                            <br>
                            <p>
                                <ul class="has-text-white has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                                <li>- Gamedev (Gameplay, Tools, User Interface, AI)</li>
                                <li>- Software development</li>
                                <li>- Backend development</li>
                                <li>- Server management (Docker, Ubuntu)</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>