---
layout: compress
---

<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    <div id="particles-js"></div>

    {% include navbar.html %}

    <section class="hero is-fullheight" id="blog">
        <div class="hero-body">
            <div class="container">
                {% include blogpage-heading.html %}
            </div>
        </div>
        <div id="results-container"></div>
        <!--Blog Cards Section-->
        {% for post in site.posts %}
            {% include blog-card.html %}
        {% endfor %}
        </div>
    </section>
    <br>
    <!--Footer begins here-->
    {% include footer.html %}
    <script src="{{site.url}}{{site.baseurl}}/assets/js/simple-jekyll-search.js"></script>

    <script>
        SimpleJekyllSearch({
            searchInput: document.getElementById('search'),
            resultsContainer: document.getElementById('results-container'),
            json: '{{site.url}}{{site.baseurl}}/search.json',
            searchResultTemplate: '<div style="border: 0.15rem dashed white" class="searchResult columns has-text-centered" id="blog-card"><div class="column is-marginless is-paddingless is-one-third-desktop is-one-third-fullhd is-one-third-tablet"><div class="image is-16by9" style="background-image: url({image});"></div></div><a href="{url}"><div class="column has-text-left-desktop has-text-left-tablet"><h1 class="title is-size-4-touch">{title}</h1><div class="content has-text-grey">{content}<hr class="has-background-grey"><span class="has-text-grey">Published on <span class="has-text-weight-semibold">{date}</span></span> | <i class="fas fa-clock"></i> <span class="has-text-weight-semibold">{readtime} min</span> read</div></div></a></div>',
            noResultsText: '<div class="subtitle has-text-centered is-uppercase">No Results Found</div><hr class="has-background-black" style="margin: 0.5rem 5rem 2.5rem 5rem">',
            fuzzy: true,
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script>
        console.log('{{ 'assets/particles.json' | absolute_url }}');
        particlesJS.load('particles-js', '{{ 'assets/particles.json' | absolute_url }}');

        <!--$(document).on('click', '[data-toggle="lightbox"]', function(event) {
                    event.preventDefault();
                    $(this).ekkoLightbox();
                });-->
    </script>
</body>

</html>