---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>

  <div id="particles-js"></div>

  {% include navbar.html %}
  {% include showcase.html %}
  {% include about.html %}
  {% include skills.html %}
  {% include project.html %}
  <!--Footer begins here-->
  {% include footer.html %}
</body>
<script>
  window.addEventListener("scroll", function (event) {
    var scroll = this.scrollY;
    var item = document.getElementsByClassName('navbar-item');
    /* console.log(scroll); */
	console.log(scroll);
    if (scroll < 610) {
      item[1].classList.add('is-active');
      item[2].classList.remove('is-active');
      item[3].classList.remove('is-active');
    }
    if (scroll > 610 && scroll < 1600) {
      item[1].classList.remove('is-active');
      item[2].classList.add('is-active');
      item[3].classList.remove('is-active');
    }
	if (scroll > 1600) {
      item[1].classList.remove('is-active');
      item[2].classList.remove('is-active');
      item[3].classList.add('is-active');
    }
  });
</script>

<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script>
    particlesJS.load('particles-js', '{{ 'assets/particles.json' | absolute_url }}');
</script>

</html>