---
layout: compress
---

<!DOCTYPE html>
<html>

<head>
  {% include head.html %}
</head>

<body>

  <div id="particles-js"></div>

  {% include navbar.html %}

  <section class="hero is-fullheight has-text-centered" id="post">
    <div class="hero-body">
      <div class="container">
        <a href="{{page.url | relative_url}}" class="has-text-white" id="title">
          <h1 class="title has-text-centered is-2 has-text-weight-semibold has-text-white">{{page.title}}</h1>
        </a>
        <hr class="has-background-black">
        <div class="columns is-variable is-5">
          <div class="column is-6">
            <figure class="image is-16by9 has-shadow">
              <img src="{{page.post-image | absolute_url}}" alt="{{post.title}}" id="post-image">
            </figure>
          </div>
          <div class="subtitle column is-5 has-text-left-desktop has-text-left-fullhd has-text-left-tablet has-text-center-mobile">
            {% unless page.description.size == 0 %}
            <p id="description" class="content has-text-weight-medium has-text-white">{{page.description | strip | strip_html | strip_newlines }}</p>
            {% endunless %}
            <p class="subtitle is-6 is-uppercase has-text-weight-normal has-text-white">Published on
              <b>{{ page.date | date: "%-B %d, %Y" }}</b> by <a href="{% if site.author-url %}{{site.author-url}}{% else %}{{site.url}}{{site.baseurl}}/#about{% endif %}" target="_blank"><b class="has-text-link"><u>{{site.author-name}}</u></b>
              </a>
            </p>
            {%- assign tags = page.tags -%}
            {%- unless tags.size == 0 -%}
            <p class="subtitle is-uppercase">
              <i class="fas fa-tags has-text-white"></i>
              {% assign i = 0 %}
              {% for tags in page.tags %}
              <span class="tag is-link">{{page.tags[i]}}</span>
              {% assign i = i | plus:1 %}
              {% endfor %}
            </p>
            {%- endunless -%}
            {% assign words = content | number_of_words %}
            {%- unless content.size == 0 -%}
            <p class="subtitle is-uppercase has-text-white"><i class="fas fa-clock has-text-white"></i> <b class="has-text-link">
                {{ words | divided_by:180 }} min
              </b>READ</p>
            {%- endunless -%}
          </div>
        </div>
        <div class="content has-text-justified-desktop has-text-justified-fullhd has-text-justified has-text-justified-tablet has-text-left-mobile">
          <p>{{ content }}</p>
        </div>
        {% unless site.disqus-shortname == "" %}
        <!--<div class="disqus-comments" id="disqus_thread"></div>-->
        {% endunless %}
      </div>
    </div>
  </section>
  {% include footer.html %}
</body>

<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script>
  console.log('{{ 'assets/particles.json' | absolute_url }}');
  particlesJS.load('particles-js', '{{ 'assets/particles.json' | absolute_url }}');

  <!--$(document).on('click', '[data-toggle="lightbox"]', function(event) {
              event.preventDefault();
              $(this).ekkoLightbox();
          });-->
</script>

<script>
  /**
   *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
   *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
  /*
  var disqus_config = function () {
  this.page.url = PAGE_URL;  Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = PAGE_IDENTIFIER; Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };
  
  (function () { /* DON'T EDIT BELOW THIS LINE 
    var d = document,
      s = d.createElement('script');
    s.src = 'https://{{site.disqus-shortname}}.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
  */
</script>

</html>