﻿---
layout: compress
---

<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body>

<div id="particles-js"></div>

{% include navbar.html %}

<section class="hero is-fullheight has-text-centered" id="post">
    <div class="hero-body">
        <div class="container">
            <a href="{{page.url | relative_url}}" class="has-text-white" id="title">
                <h1 class="title has-text-centered is-2 has-text-weight-semibold has-text-white">{{page.title}}</h1>
            </a>
            <hr class="has-background-black">
            <div class="columns is-variable is-5">
                <div class="column is-6">
                    <figure class="image has-shadow">
                        <img src="{{page.post-image | absolute_url}}" alt="{{post.title}}" id="post-image">
                    </figure>
                </div>
                <div class="subtitle column is-5 has-text-left-desktop has-text-left-fullhd has-text-left-tablet has-text-center-mobile">
                    {% unless page.description.size == 0 %}
                    <p id="description" class="content has-text-weight-medium has-text-white">{{page.description | strip | strip_html | strip_newlines }}</p>
                    {% endunless %}
                </div>
            </div>
            <div class="content has-text-justified-desktop has-text-justified-fullhd has-text-justified has-text-justified-tablet has-text-left-mobile">
                <p>{{ content }}</p>
            </div>
        </div>
    </div>
</section>
{% include footer.html %}
</body>

<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script>
    particlesJS.load('particles-js', '{{ 'assets/particles.json' | absolute_url }}');
</script>

</html>